<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'comictextmaker/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer>
</body>
</html>