{% extends 'comictextmaker/base.html' %}

{% block content %}
  <h1>Avengers Comic Maker</h1>
  <p>Create your own comic book featuring your favorite Avengers characters!</p>

  <div class="row">
    <div class="col-md-4">
      <h2>Choose Your Hero</h2>
      <ul>
        <li>Black Widow</li>
        <li>Captain America</li>
        <li>Captain Marvel</li>
        <li>Deadpool</li>
        <li>Hulk</li>
        <li>Iron Man</li>
        <li>Spider-Man</li>
        <li>Wolverine</li>
      </ul>
    </div>
    <div class="col-md-8">
      <h2>Create Your Story</h2>
      <p>Use the Marvel Universe to create your own story featuring your chosen hero. Add text and speech bubbles to bring your story to life!</p>
    </div>
  </div>
{% endblock %}